table {
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    height: 60px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    min-width: 100px;
}

th a {
    font-size: 12px;
    white-space: nowrap;
}

td {
    border: 1px solid black;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul a {
    display: block;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.add-post-button {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: lightgray;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.table-wrapper {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}

form {
    width: 300px;
    margin: 200px auto auto;
    padding: 40px 20px;
    border: 2px solid black;
    border-radius: 3px;
}

input {
    display: block;
    width: 250px;
    margin: auto auto 10px;
    font-size: 24px;
    border: 2px solid lightgrey;
}

input.invalid {
    border: 2px solid red;
}

.form-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 32px;
}